form {
	display: block;
	width: 100%;
}

textarea,
input {
	background-color: #ffffff;
	border: 2px solid #c9c9ff;
	color: #c9c9ff;
	outline: none;
	padding: 10px;
	width: 100%;
}

textarea::placeholder,
input::placeholder {
	color: #c9c9ff;
}

textarea {
	min-height: 100px;
	max-height: 300px;
	min-width: 100%;
	max-width: 100%;
}

.btn {
	border: none;
	border-radius: 40px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 10px 40px;
	text-align: center;
	transition: 0.5s background-color ease, 0.5s color ease;
}

.btn-cta {
	background-color: #f1cbff;
	color: white;
}

.btn-wrapper {
	width: 100%;
}

.btn-wrapper .btn {
	margin-left: 0;
	width: 100%;
}

.btn-wrapper .btn + .btn {
	margin-top: 10px;
}

@media (min-width: 480px) {
	.btn-wrapper .btn + .btn {
		margin-left: 10px;
		margin-top: 0;
	}

	.btn-wrapper .btn {
		width: auto;
	}
}
