body {
	margin-top: 50px;
	padding-top: 20px;
}

header {
	align-items: center;
	display: flex;
	background-color: #ffffff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	font-size: 20px;
	height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}

header a {
	color: #c9c9ff;
}

nav {
	flex-grow: 1;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: right;
}

nav li + li {
	margin-right: 20px;
}

.site-title {
	font-weight: bold;
	font-size: 28px;
}
