* {
	box-sizing: inherit;
}

html {
	background-color: #c9c9ff;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 16px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
}

a {
	color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 10px;
}

p {
	line-height: 1.5;
}

hr {
	border: 0;
	border-top: 2px solid #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

.padded {
	padding: 0 20px;
}

.col-padded {
	padding: 0.5em;
}

img {
	max-width: 100%;
	height: auto;
}

.flex-grow {
	flex-grow: 1;
}

.align-items-center {
	display: flex;
	align-items: center;
}
