<h1>Create a Playlist</h1>

<hr>

<form action="/playlists/create" method="post">
	<div class="row">
		<div class="col-padded col-xs-12">
			<input type="text" name="title" placeholder="Title" required="required" />
		</div>

		<div class="col-padded col-xs-12">
			<textarea name="description" placeholder="Description (optional)"></textarea>
		</div>
	</div>

	<br>

	<div class="btn-wrapper text-right">
		<button type="submit" class="btn btn-cta">Create</button>
	</div>
</form>
