<h1>
	{{playlist.title}}
	<a href="/playlists/{{playlist._id}}/edit">
		<i class="fa fa-edit"></i>
	</a>
</h1>

<hr>

<p>{{playlist.description}}</p>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<iframe src="https://open.spotify.com/embed?uri=spotify:track:0tgVpDi06FyKpA1z0VMD4v" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
		<iframe src="https://open.spotify.com/embed?uri=spotify:track:2IQB5iBapo0Y37Yc0PtIZc" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
		<iframe src="https://open.spotify.com/embed?uri=spotify:track:5VnDkUNyX6u5Sk0yZiP8XB" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
		<iframe src="https://open.spotify.com/embed?uri=spotify:track:7BKLCZ1jbUBVqRi2FVlTVw" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
</div>
