<div class="row">
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<iframe src="https://open.spotify.com/embed/track/7vGuf3Y35N4wmASOKLUVVU" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<iframe src="https://open.spotify.com/embed/track/7vGuf3Y35N4wmASOKLUVVU" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<iframe src="https://open.spotify.com/embed/track/7vGuf3Y35N4wmASOKLUVVU" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" class="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
</div>
