<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="/css/vendor.min.css">
		<link rel="stylesheet" type="text/css" href="/css/utility.css">
		<link rel="stylesheet" type="text/css" href="/css/layout.css">
		<link rel="stylesheet" type="text/css" href="/css/header.css">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<title>Jelly Byte</title>
	</head>

	<body>
		<header>
			<div class="wrapper padded">
				<nav>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>

						{{!-- PLAYLIST --}}
						<li>
							<a href="/playlists/view">View Playlist</a>
						</li>
						<li>
							<a href="/playlists/edit">Edit Playlist</a>
						</li>
						<li>
							<a href="/playlists/create">Create Playlist</a>
						</li>

						{{!-- USER --}}
						<li>
							<a href="/users/view">View User</a>
						</li>
						<li>
							<a href="/users/edit">Edit User</a>
						</li>
						<li>
							<a href="/users/create">Create User</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main class="wrapper padded">
			{{{body}}}
		</main>

		<script src="/js/app.js"></script>
	</body>
</html>
